	<footer id="footer" role="contentinfo">
		<a href="#" class="gotop js-gotop"><i class="icon-arrow-up2"></i></a>
		<div class="container">
			<div class="">
				<div class="col-md-12 text-center">
					<p>{{ with .Site.Params.footer.copyright }}{{ . | markdownify }}{{ end }}</p>
					
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="social social-circle">
						<li>
							<a href="https://framasphere.org/people/f0bab49066ee0135d6192a0000053625">
								<i class="icon-star-o">
								</i>
							</a>
						</li>
						<li>
							<a href="https://framapiaf.org/@alternos">
								<i class="icon-retweet">
								</i>
							</a>
						</li>
						<li>
							<a href="https://www.facebook.com/Alternos-348087602299631/">
								<i class="icon-facebook">
								</i>
							</a>
						</li>
						<li>
							<a href="https://twitter.com/AlternOS_System">
								<i class="icon-twitter">
								</i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
